{% extends 'base.html' %}
{% load static %}


{% block title %}Real Estate Listings Home{% endblock %}

{% block content %}
<p class="text-center">Your current Location : <span id="ip-location"></span></p>


<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="property-title-text">
                
                <h2>MODAK FIND A HOME THAT SUITS YOUR LIFESTYLE</h2>
                <p>Find a variety of properties or houses that suit you, your loved ones, family, and friends easily.</p>
                
                <form method="post" action="{% url 'search_view' %}">
    {% csrf_token %}
    <div class="input-group" style="max-width: 400px;">
        <input type="text" name="country" class="form-control form-control-sm" placeholder="Enter country of desired house" aria-label="home-search">
        <button class="btn btn-primary" type="submit" name="status" value="rent">Rent</button>
        <button class="btn btn-secondary" type="submit" name="status" value="sale">Buy</button>
    </div>
</form>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="property-title-image ms-1">
                <img src="{% static 'listings/images/homepage-image.png' %}" alt="Landing Image" class="img-fluid" style="max-width: 600px;">
            </div>
        </div>
    </div>
</div>

    
    <div>
        <h3 class="mt-5 text-center">PROPERTIES AVAILABLE</h3>
        <div class="row">
        {% for property in properties|slice:6 %}
   
        <div class="col-md-3 mb-4 ms-5 mt-4">
            <div class="card h-100">
               <img src="https://x23212365-my-newtest-bucket.s3.eu-west-1.amazonaws.com{{ property.image_url }}" class="card-img-top" alt="{{ property.title }}" width="300px" height="300px">
                <div class="card-body ">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title text-capitalize">{{ property.title }}</h5>
                      <p class="card-text border border-success border-2 px-2 text-uppercase p-auto mb-4" style="border-radius:15px; background:green; color:white;">{{ property.status }}</p>
                    </div>
                    
                    <p class="card-text" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">{{ property.description }}</p>
                    <p class="card-text">€{{ property.price }}</p>
                  <a href="{% url 'property_detail' property.id %}" class="btn btn-outline-secondary">View details</a>
                    <!--<p class="card-text">{{ property.image_url }}</p>-->
                   
                </div>
            </div>
        </div>
        {% empty %}
        <p>No properties found. </p>
        {% endfor %}
        
        <div class="text-center mt-4">
        <a href="{% url 'view_more_properties' %}" class="btn"  style="background-color: #252633; color:yellow;" >View More</a>
    </div>
       
    </div>
    </div>
    
    <div>
        <h3 class = "mt-5 mb-2 text-center">FEATURES</h3>
        <p class ="text-center mb-5">Access a wide range of features to make your home search easy be it renting , buying or selling your house</p>
        <div class = "d-flex justify-content-evenly mb-5">
            
        <div class = "card border border-1 h-100 px-3 py-4 " style="width: 25rem; -webkit-box-shadow: -19px -6px 13px -4px rgba(230,225,230,1);
                -moz-box-shadow: -19px -6px 13px -4px rgba(230,225,230,1);box-shadow: -19px -6px 13px -4px rgba(230,225,230,1);">
          <img src="{% static 'listings/images/buy-illustration.png' %}" alt="buy-illustration" class="img-fluid m-auto pb-2" style="width: 200px;">
          <div class = "card-body">
            <h5 CLASS="text-center fw-bold">BUY</h5>
            <p class = "card-text text-center mt-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <button class="btn btn-outline-secondary">Explore Homes</button>
        </div>

        <div class="card border border-1 h-100 px-3 py-4" style="width: 25rem; -webkit-box-shadow: -19px -6px 13px -4px rgba(230,225,230,1);
            -moz-box-shadow: -19px -6px 13px -4px rgba(230,225,230,1);box-shadow: -19px -6px 13px -4px rgba(230,225,230,1);">
          <img src="{% static 'listings/images/hostel-illustration.png' %}" alt="rent-illustration" class="img-fluid m-auto pb-2" style="width:100px;">
          <div class="card-body">
              <h5 CLASS="text-center fw-bold">RENT</h5>
          <p class="card-text text-center mt-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <button class="btn btn-outline-secondary">Find Rental</button>
        </div>

        <div class="card  border border-1 h-100 px-3 py-4" style="width: 25rem; -webkit-box-shadow: -19px -6px 13px -4px rgba(230,225,230,1);-moz-box-shadow: -19px -6px 13px -4px rgba(230,225,230,1);box-shadow: -19px -6px 13px -4px rgba(230,225,230,1);">
          <img src="{% static 'listings/images/sell-illustration.png' %}" alt="sell-illustration" class="img-fluid m-auto pb-2" style="width:300px;">
         <div class="card-body">
              <h5 CLASS="text-center fw-bold">SELL</h5>
              <p class="card-text text-center mt-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <button class="btn btn-outline-secondary">See your Options</button>
        </div>
    </div>
   
   </div>
   
   <h3 class = "mt-5 mb-5 text-center">NEWSLETTER</h3>
   
<div style="background:url({% static 'listings/images/estate-picture.png' %}); background-size: cover; background-position: center; padding: 20px;">

        <h3 class = "mt-5 mb-2 text-center text-white ">Subscribe to our newsletter</h3>
       <form method="post" action="{% url 'subscribe_to_newsletter' %}" class="row g-3 needs-validation" novalidate>
  {% csrf_token %}
  <div style=" display:flex; flex-direction:column;">
    <input type="email" class="form-control" name="email" placeholder="Enter your email address" style="width:300px; margin:20px auto;" required>
     <button type="submit" class="btn "style="width:300px; margin:20px auto; background-color: yellow; color:#252633;">Subscribe</button>
    <div class="invalid-feedback">
      Please provide a valid email address.
    </div>
  </div>
  
</form>

   </div>
    
</div>
<script>
    // Make an AJAX request to get IP location data
    window.onload = function() {
        fetch('/get-ip-location/')
            .then(response => response.json())
            .then(data => {
                // Update the IP location in the HTML
                document.getElementById('ip-location').innerText = `${data.city}, ${data.region}, ${data.country}`;
            })
            .catch(error => console.error('Error:', error));
    };
</script>
{% endblock %}
