{% extends 'base.html' %}
{% load static %}


{% block title %}Real Estate Listings Home{% endblock %}

{% block content %}
{% include 'listings/header.html' %}
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="property-title-text">
                
                <h1>MODAK FIND A HOME THAT SUITS YOUR LIFESTYLE</h1>
                <p>Find a variety of properties that suit you, your loved ones, family, and friends easily.</p>
                
                <div class="input-group" style= "max-width: 400px;">
                  <input type="text" class="form-control form-control-sm" placeholder="Enter location of desired house" aria-label="home-search">
                      <button class="btn" type="button" style="background-color: #252633; color:yellow;">Rent</button>
                      <button class="btn btn-secondary" type="button">Buy</button>
                 </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="property-title-image ms-1">
                <img src="{% static 'listings/images/homepage-image.png' %}" alt="Landing Image" class="img-fluid" style="max-width: 600px;">
            </div>
        </div>
    </div>
</div>

    
    <div>
        <h2 class="mt-5 text-center">Featured Properties</h2>
        <div class="row">
        {% for property in properties %}
   
        <div class="col-md-3 mb-4 ms-5 mt-4">
            <div class="card h-100">
               <img src="https://x23212365-my-newtest-bucket.s3.eu-west-1.amazonaws.com{{ property.image_url }}" class="card-img-top" alt="{{ property.title }}" width="300px" height="300px">
                <div class="card-body ">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title">{{ property.title }}</h5>
                      <p class="card-text border border-success border-3 px-2">{{ property.status }}</p>
                    </div>
                    
                    <p class="card-text" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">{{ property.description }}</p>
                    <p class="card-text">{{ property.price }}</p>
                  <a href="{% url 'property_detail' property.id %}" class="btn btn-success">View details</a>
                    <!--<p class="card-text">{{ property.image_url }}</p>-->
                   
                </div>
            </div>
        </div>
        {% empty %}
        <p>No properties found.</p>
        {% endfor %}
       
    </div>
    </div>
   
    
</div>
{% endblock %}
